body{
    padding-top: 10%;
}
h1{
    text-align: center;
    margin-bottom: 10%;
}
.choice-box{
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}
.girl-box{
    border :1px solid black;
    border-radius: 5%;
    padding :2%;
    white-space: wrap;
    background-color: pink;
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    cursor: pointer;
}
.boy-box{
    border :1px solid black;
    border-radius: 5%;
    padding :2%;
    white-space: wrap;
    background-color: blue;
    color :white;
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    cursor: pointer;
}